<!doctype html>
<html>
	<head>
		<title>CAAT base</title>

		<!-- No Cache -->
		<meta http-equiv="pragma" content="no-cache">
		<meta http-equiv="expires" content="-1">

		<!-- IPHONE WEB APP META/LINK TAGS -->
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
		<meta name="viewport" content="user-scalable=no, width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>

		<!-- Our application -->
		<script src="js/lib/CAAT.js" type="text/javascript"></script>
		<script src="js/lib/Stats.js" type="text/javascript"></script>
		<script src="js/main.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="container">
		</div>
	</body>
</html>